*

# preserve README
!README

# preserve makefile
!Makefile
!makefile
!*.mk

# preserve cacti configs
!template.cfg
!cache.cfg
!dram.cfg

# preserve source codes
!*.i
!*.cc
!*.hh
!*.c
!*.h
!*.cpp
!*.hpp
